<style>
  .custom-section {
    text-align: center;
    margin: 50px 0px;
  }
  .custom-section h3 {
    color: #536162;
  }
</style>
<section class="custom-section">
  <h3><%= title %></h3>
</section>
