<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head.ejs',{title:'Sign Up'}) %>
  </head>
  <body>
    <%- include('../partials/nav.ejs',{path:'/signup'}) %>
    <%-include('../partials/section.ejs',{title:'Sign Up'}) %>
  </body>
</html>
